<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="JanuszLembicz.PW.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="JanuszLembicz.PW.Properties.Settings.JanuszLembicz_PW_DBConnectionString"
            connectionString="Data Source=CADLAPC;Initial Catalog=JanuszLembicz.PW.DB;Persist Security Info=True;User ID=PWDB_LOGIN;Password=password"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <applicationSettings>
        <JanuszLembicz.PW.Properties.Settings>
            <setting name="DAOFactoryDll" serializeAs="String">
                <value>JanuszLembicz.PW.DAL.Mock.dll</value>
            </setting>
        </JanuszLembicz.PW.Properties.Settings>
    </applicationSettings>
</configuration>